.checkboxdemoSyncing .checkboxDemo1 md-checkbox {
  float: left; 
  color: #90A4AE;
}

.checkboxdemoSyncing legend code {
  color: #90A4AE;
  font-weight: normal; }

.checkboxdemoSyncing p {
  padding-left: 8px; }

.checkboxdemoSyncing .info {
  padding-left: 13px; }

.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px; }

.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
  height: 50%;
  width: 50%;
}
.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  width: 50%;
}

.md-toolbar-tools{
  width: 50%;
}

#signin {
  float:left;
  padding-left: 250px;
  padding-top:20px;
}

#signup {
  float:right;
  padding-right: 250px;
  padding-top:20px;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#up {
  color: green;
}

#down {
  color: red;
}
.material-icons {
  height: 1px;
  width: 1px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.singleimage {
 /* width: 190px;*/
 padding-bottom: 5px;

}

body {
background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar navbar-inverse{
  background: black;
}

body {
  padding-top: 51px;  
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}
.tag-list {
  color:white;
  font-size: 25px
}
.podcast{
  color:white;
}

        