<div class="wrapper" class="container-fluid">
  <div class="row">
     <div class="row">
        <div ng-repeat="podcast in browseResults" class="col-sm-3 col-xs-6 podcast-media" data-col="col-sm-6"> 
          <div class="card">
            <a a href='#/show' ng-click="getShow(podcast.name)"><img class="image-thumb" class="card-img-top" src="{{podcast.thumbnail}}" alt="Card image cap"></a>
            <div class="card-block">
              <p class="full-show">
                {{podcast.name.slice(0, 22).concat('...')}}
                <a href="#" class="btn btn-block btn-lg btn-secondary">Button</a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
