
  
<div class="spinner" ng-hide="loaded"></div>
  <div ng-cloak="" ng-show="loaded"> 
    <div class="audio-container">
      <audio class="audioPlayer" ng-src="{{currentSong.url | trustUrl}}" audioplayer controls></audio>

<!--       <video width="420" height="340" controls>
        <source src="http://download.ted.com/talks/HarryBaker_2014X-64k.mp4?apikey=172BB350-0004" type="video/mp4">
      Your browser does not support the video tag.
      </video> -->
    </div>
    <button ng-click="initPlay()" class="play mdl-button mdl-js-button mdl-button--raised">   Play </button>
    <button ng-click="moveToNext()" class="play mdl-button mdl-js-button mdl-button--raised">   Next </button>
    <button ng-click="stopPlay()" class="play mdl-button mdl-js-button mdl-button--raised">   Stop </button>

</div>   
